---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

const cards = [
  {
    index: 0,
    title:
      "上海高科技企业企服灯塔，通过整体的ERP方案，并且定制研发适合于企业的高新企业申请AI应用， 提升企业的整体的作业效率。",
    link: "#",
  },
  {
    index: 1,
    title:
      "杭州晓峰财税咨询公司， 通过定制ERP方案， 在企业的财税领域， 实现完整的端到端的咨询+服务的特色服务业务",
    link: "#",
  },
  {
    index: 1,
    title:
      "澳大利亚熊倪维尔公司， 通过对化工领域市场的细分定制， 在细分领域的应用， 结合汤圆ERP实现行业的特色增值服务",
    link: "#",
  },
];

import larrow from "../../assets/icon3.svg";
import SectionTitle from "../ui/SectionTitle.astro";
---

<Section id="cases">
  <SectionTitle
    sectionTitle="案例"
    description="通过我们的过往案例， 来洞察和探索这个世界"
  />
  <div class="flex flex-col lg:flex-row justify-between rounded-[45px] p-1">
    {
      cards.map((card) => (
        <Card>
          <div class="flex p-[60px] h-full bg-dark text-white rounded-[45px] m-[1px]">
            <div class="flex flex-col gap-5">
              <p>{card.title}</p>
              <a href={card.link} class="flex items-center gap-[15px]">
                <span class="text-green">案例详情</span>
                <picture>
                  <Image src={larrow} alt="Arrow pointing up right" />
                </picture>
              </a>
            </div>
          </div>
        </Card>
      ))
    }
  </div>
</Section>
