---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative">
    <SectionTitle
      sectionTitle="联络我们"
      description="与我们联系：让我们讨论您的企业数字管理需求"
    />
    <Form />
  </div>
</Section>
