---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "一步一个脚印，去往想去的地方";
---

<Section id="services">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="服务流程"
      description={description}
    />
    <Accordion />
  </div>
</Section>
