---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

import propImg from "../../assets/pics/proposal-pic.png";
---

<Section>
  <Card>
    <div
      class="flex bg-[#F3F3F3] rounded-[45px] p-[60px] relative mt-[123px] mb-[163px]"
    >
      <div class="w-full md:w-[40%] flex flex-col gap-[26px]">
        <h2>让我们行动起来</h2>
        <p>
          立即联系我们，了解更多关于我们的ERP定制咨询服务， 
          如何帮助您的业务在线上实现增长和成功的信息。
        </p>
        <button class="btn-primary">预约咨询</button>
      </div>
      <picture
        class="hidden md:flex absolute right-[-10%] lg:right-0 top-[-15%] h-[450px] items-center justify-center"
      >
        <Image
          src={propImg}
          alt="This is an illustration"
          class="hidden md:flex lg:h-full lg:w-auto"
        />
      </picture>
    </div>
  </Card>
</Section>
