---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'F5 — 快速构建高度定制B端产品 Frappe + F5',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: '0.1元体验',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: '文档', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      快速构建 <span class="hidden xl:inline">B端产品</span>
      <span class="text-accent dark:text-white highlight"> F5</span> + Frappe
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">F5</span> 是以开源Frappe Framework + ERPNext 为底层框架, 并结合独立研发的前端组件构建工具F5,采用模板技术,组件构建技术, </span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      用于满足ERP顾问,独立顾问,传统ERP产品代理商构建自有产品的利器.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="F5能带给你什么？"
    subtitle="基于开源Frappe做后台逻辑构建，依托模板技术， 组件技术， Vue3 做低代码构建工具，可以快速随心所欲的构建所思所想！"
    items={[
      {
        title: 'Frappe Framework 基座',
        description:
          'Frappe 是低代码、开源、Python 和 Javascript Web 框架，是优秀的B端产品利器',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'ERPNext 基座',
        description:
          'ERPNext 是世界上最好的免费开源ERP，构建于类似Oracle，SAP的设计理念，结合大量的工程实践.',
        icon: 'tabler:components',
      },
      {
        title: 'F5 组件利器',
        description:
          'F5 工具是大汤圆技术结合Mybricks技术， 与ERPNext大量的工程定制化能力结合， 创建的组件构建工具 以及组件库 ',
        icon: 'tabler:list-check',
      },
      {
        title: 'ERP模板技术',
        description:
          '大汤圆技术结合Vben-Admin构建的，行业通用化ERP模板， 更易于您的扩展和想法的实现',
        icon: 'tabler:rocket',
      }
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="F5适合的业务场景"
    items={[
      {
        title: '基于模板构建',
        description:
          'F5提供一个基础的通用ERP产品底座，采用的技术为Vben-Admin 以及 Vue3',
      },
      {
        title: '设计专业的行业组件',
        description:
          '基于F5前端组件设计工具， 设计专业的行业组件，并且能与源码快速融合， 特别适用于需要定制的行业场景.',
      },
      {
        title: '涉及技术栈',
        description:
          '后端Python，前端Vue3 + TS 构建',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">构建细分行业领域的ERP产品</h3>
      利用模板技术， 组件技术 快速构建自有知识产权的ERP产品
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

   <!-- Steps Widget ****************** -->

  <Steps
    title="使用F5的具体步骤："
    items={[
 {
        title: '步骤 1: <span class="font-medium">从Git读取到ERP Web模板</span>',
        description:
          "我们提供 Web 模板仓库，您可以从该仓库下载或更新您自己的仓库。模板仓库包含各种预构建的页面和组件，可用于快速构建您的 ERP 产品界面。",
          icon: 'tabler:package',
      },
      {
        title: '步骤 2: <span class="font-medium">安装ERPNextCN应用</em>',
        description:
          "ERPNextCN 是针对中国市场定制的 ERPNext 版本，包含本地化功能和支持。您需要按照提供的安装指南安装 ERPNextCN 应用。",
        icon: 'tabler:letter-case',
      },
      {
        title: '步骤 3: <span class="font-medium">在前端代码配置连接的后端服务</span>',
        description:
          '在前端代码中，您需要配置连接到后端 ERPNextCN 应用的地址和凭证。这可以让您的前端代码与后端数据和功能进行交互。',
        icon: 'tabler:paint',
      },
      {
        title: '步骤 4: <span class="font-medium">运行您的ERP产品</span>',
        description:
          '完成以上步骤后，您就可以启动您的 ERP 产品了。您可以访问您的产品 URL 地址并在浏览器中查看.',
        icon: 'tabler:paint',
      },
      {
        title: '步骤 5: <span class="font-medium">基于F5快速构建您的ERP产品</span>',
        description:
          'F5 提供丰富的组件和模板，可用于快速构建各种 ERP 产品功能。您可以拖拽组件、配置属性并连接数据，轻松创建所需的功能页面。F5 还支持二次开发，您可以根据自己的需求扩展和定制产品功能。',
        icon: 'tabler:paint',
      },
      {
        title: '立即开始使用 F5，构建您的专属 ERP 产品！',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="常用的组件"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: '价格',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

</Layout>
