---
---

<section class="sm:px-5">
    <div class="w-full max-w-[1240px] mx-auto">
        <div class="px-[15px] bg-[#696969] text-white py-[5px] lg:px-[60px] sm:rounded-t-[45px]">
            <div>
                <div class="flex flex-col lg:flex-row mt-[15px] mb-[15px]">
                    <div class="flex text-center lg:text-start flex-col w-full lg:w-[50%]">
                        <h3 class="mb-5">联系我们：</h3>
                        <div class="flex flex-col justify-between gap-4">
                            <span> 邮箱：nihao@datangyuan.cn </span>
                            <span> 电话：166-5711-5799 </span>
                            <span class="lg:w-3/4">
                                地址：杭州市余杭区欧美金融城T7-4009
                            </span>
                        </div>
                    </div>
                    <div class="flex-grow my-10 lg:my-0 lg:ml-12">      
                        <div class="flex flex-col lg:flex-row gap-12">
                            <div>
                                <h4 class="mb-3">产品</h4>
                                <ul class="list-none space-y-2">
                                    <li><a href="#" class="text-white hover:underline">汤圆进销存</a></li>
                                    <li><a href="#" class="text-white hover:underline">汤圆云业财</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4 class="mb-3">文档</h4>
                                <ul class="list-none space-y-2">
                                    <li><a href="https://erpnext.cc" class="text-white" target="_blank">ERPNext中文文档</a></li>
                                    <li><a href="https://docs.datangyuan.cn" class="text-white"  target="_blank">汤圆ERP手册</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="h-[1px] bg-white mb-5"></div>
            <div class="flex flex-col lg:flex-row h-10 justify-center mt-4 text-center md:justify-between md:mt-0">
                <span>2024 大汤圆技术 </span>&nbsp
            </div>
        </div>
    </div>
</section>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?9743eeee958ec71d4d2835224a9fbf94";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
